@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
*{
    box-sizing: border-box;
}
header .section{
    overflow-x: hidden;
}
:root{
    --snigle-font:"sniglet",cursive;
    --rubik:"Rubik",cursive;
    --patua:"Patua One",cursive;
    --light-black:#2e2c2caf;
    --bggradient:linear-gradient(to bottom,#dd2476,#ff512f);
    --bgrdt:linear-gradient(to bottom,#ddd2456,#ff45ff)
    --light-gray:rgba(255,255,255,0)
}

header a{
    font-family: var(--patua);
    font-size: 0.9em;
    color: whitesmoke;
}

header{
    background:yellow;
    background: gainsboro;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(133, 17, 88);
    min-width: 160px;
box-shadow: 0px 2px 15px 0px rgba(164, 33, 197, 0.2);
z-index: 1;
}
.dropdown-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a :hover{
    background: #ddd;

}
.dropdown :hover .dropdown-content{
    display: block;
}
header .nav-item:last-child{
    padding-right: 10.5em;

}
header .nav-item{
    padding: 0.9em;
}
header .navbar-brand{
    padding-left: 8rem;

}
header .nav-link:hover{
    color: black;
}
header .row .col-md-5{
    padding: 4.2vmin 1vmin;
}
header .row .col-md-7{
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: var(--rubik);

}
header .row .col-md-5 img{
    background: white;
    width: 150%;
    height: 100%;
    }

    header .container .col-md-7 h6{
        padding: 1vmin;
        letter-spacing: 4px;
    }
    header .container .col-md-7 h1{
font-size: 8vmin;
font-weight: bold;
padding: 0.1em 0em;
    }
header .container .col-md-7 p{
    padding: 1vmin 5vmin;
}
header .container .col-md-7 button{
    border-radius: 80px;
    font-weight: bold;
}
.section1{
background: rgba(0,0,0,0.2);
    padding: 20vmin;

}
.section1 .row .col-md-6 .pray img{
opacity: 0.9;
width: 120%;
border-radius: 0.7em;
background-color: grey;

}
.section1 .row .col-md-6:last-child{
    position: relative;

}
.section1 .row .col-md-6.panel{
    position: absolute;
    top:7vmin;
    left:-18vmin;
    background: black;
    border-radius: 3px;
    text-align: left;
padding: 13vmin 5vmin 20vmin 10vmin;
box-shadow: 0x 25px 42px rgba(0,0,0,0.2);
font-family: cursive;
z-index: 1;
}
.section1 .row .col-md-6 .panel h1{
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}
.section1 .section1 .row .col-md-6 .panel p{
    font: size 3px;;
    color:white;
    font-family: cursive;
}
.cover{
    width: 100%;
    height: 55vmin;
    background:url("../source/asset/img7.jpg");
    background-position: -25rem -90rem;
    background-size: 150%;
    position: relative;
    z-index: -1;
}
.cover .content{
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}
.cover .content>h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6vmin;
    color: whitesmoke;
}
.cover .content>p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vmin;
    color: #e5e5e5;
}
.numbers .rect{
    position: relative;
    z-index: 1;
    background: white;
    color: aqua;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius:.5em;
    box-shadow: 1px 2px 50px 0px rgba(180, 10, 129, 0.349);
}
.numbers{
    margin-top: -15vmin;
    z-index: 1;
}
.numbers .rect h1{
    font-size: 5rem;
    color: tomato;
}
.numbers .rect p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.purchase>h1{
    padding: 15vmin;
    padding-bottom: 0.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.purchase>p{
    color: red;
    font-size: 5vmin;
    padding-bottom: 10vmin;
}
.purchase .cards .card{
    width: 22rem;
    margin: 3vmin;
}
.cards div{
    padding: 0;
    margin: 0;
}
.cards .title{
    background: rgba(208,241,241,0.199);
    padding: 1.5rem 2.5rem;
    font-size: 2vmin;
}
.card .card-text{
    padding: 2.5rem 3rem;
    color: var(--light-black);

}
.card-body .pricing{
    background: rgba(208,241,241,0.199);
border-top-right-radius: 170px;
border-top-left-radius: 170px;
}
.card-body .pricing{
font-size: 10vmin;
padding: 1em 0.5em;
}

/* //section 3 */
.section3{
    height: 70vmin;
    margin-top: 15vmin;
    background:var(--bggradient)

}
.section3 .col-md-12>h1{
    padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;

}
.section3 .col-md-12>p{
    padding: 0 4em;
    padding-bottom: 2em;
    color: var(--light-gray);
    font-size: 3vmin;
}
.section3 .desktop{
    background: white;
    display:inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
}
.section3 .desktop h3{
    font-size: 4vmin;
}
.section3 .desktop p{
    font-size: 2vmin;
}


/* section4 */
.section4{
    background: url(../source/asset/img3.jpg);
}
.section4 .container h1{
    font-size: 6vmin;
    color: rgba(185, 29, 115, 0.582);
    padding-top: 14vmin;
}
.section4 .team{
    padding: 10vmin 4vmin;

}
.section4 .card{
    box-shadow: black;
    width: 22rem;
    margin-top: 10vmin;

}
.section4 .card .card-text{
    padding: 0;
}
.section4 .card .card-body>a{
    font-size: 1.5em;
}
.section4 .carousel-item{
    /* padding-left: 3rem; */
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/*footer*/
footer{
    background:rgba(208,241,241,0.199);
    overflow-x: hidden;
    background-color: rgb(109, 98, 98);
    padding: 14vmin 18vmin;
}
footer p > span{
color:red;
}
footer .input{
    border: none !important;
}
footer input::placeholder{
    color: white !important;
}
footer .input-group .input-group-text{
    background: var(--bggradient);
    border: none;
}
footer .column{
    color: red;
}
footer .column i+i{
    padding: 0 0.5em;
}
